openapi: 3.0.4
info:
  title: Warmhouse Sensor Management Service REST API
  description: |-
    This is a REST API specification for Warmhouse Sensor Management Service.
  version: 1.0.0
servers:
  - url: https://sensor-serv.warmhouse.ru/api/v1
tags:
  - name: user
    description: Operations about user
paths:
  /user:
    post:
      tags:
        - user
      summary: Create user.
      description: This can only be done by the logged in user.
      operationId: createUser
      requestBody:
        description: Created user object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /user/{login}:
    get:
      tags:
        - user
      summary: Get user by user login.
      security:
        - BearerAuth: []
      description: Get user detail based on login.
      operationId: getUserByLogin
      parameters:
        - name: login
          in: path
          description: The login that needs to be fetched. Use user1 for testing
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Invalid login supplied
        '404':
          description: User not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      tags:
        - user
      summary: Update user resource.
      security:
        - BearerAuth: []
      description: This can only be done by the logged in user.
      operationId: updateUser
      parameters:
        - name: login
          in: path
          description: login that need to be updated
          required: true
          schema:
            type: string
      requestBody:
        description: Update an existent user in the store
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: successful operation
        '400':
          description: bad request
        '404':
          description: user not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /user/{login}/verify:
    post:
      tags:
        - user
      summary: Verifies a user is authorized.
      security:
        - BearerAuth: []
      description: Checks if a user is logged in.
      operationId: verifyUser
      parameters:
        - name: login
          in: path
          description: login that need to be verifed
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
        '403':
          description: The user is not logged in
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        login:
          type: string
          example: theUser
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: James
        email:
          type: string
          example: john@email.com
        password:
          type: string
          example: '12345'
        phone:
          type: string
          example: '12345'
        status:
          type: integer
          description: User Status
          format: int32
          example: 1
        lastUpdated:
          type: string
          description: Last updated timestamp
          format: date-time
          example: '2025-10-31T01:30:00.000-03:00'
    Sensor:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        userId:
          type: integer
          format: int64
          example: 10
        type:
          type: string
          example: heater
        model:
          type: string
          example: Russell Hobbs Oscillating Ceramic 2kW Heater
        name:
          type: string
          example: 'bedroom heater'
        location:
          type: string
          example: 'country house'
        state:
          type: integer
          format: int32
          example: 0
        status:
          type: integer
          description: User Status
          format: int32
          example: 1
        lastUpdated:
          type: string
          description: Last updated timestamp
          format: date-time
          example: '2025-10-31T01:30:00.000-03:00'
    Command:
      type: object
      properties:
        sensorId:
          type: integer
          format: int64
          example: 10325
        capabilityId:
          type: integer
          format: int32
          example: 5
        command:
          type: object
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    BearerAuth:
      type: http
      scheme: bearer
